<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Info</title>
</head>
<body>

  <form method="POST" action="">
    <input type="text" placeholder="What's your name?" name="name" value="{{ request.form.name }}">
    <br>
    <input type="email" placeholder="Your email here!" name="email" value="{{ request.form.email }}">
    <br><br>
    <input type="submit" value="Next">

  </form>
  <br>
  {% if error %}
  <strong>Error:</strong> {{ error }}
  {% endif %}

</body>
</html>
